/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin-top: 20px;
}

/* Header and Navigation Bar */
header {
  background: #333;
  color: #fff;
  padding: 30px 30px;
  text-align: center;
  z-index: 100;
  position: fixed;
  top: 0; 
  width: 100%;
  box-shadow: 0 2px 5px rgba(39, 12, 194, 0.993); 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Section Styles */
.section {
  padding: 20px;
  text-align: center;
  margin:50px auto;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

/* Profile Picture */
.profile-pic {
  width: 190px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

/* Hobby List */
.hobby-list {
  list-style: none;
  padding: 0;
}

.hobby-list li {
  background: #333;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin: 10px 0 5px;
}

form input,
form textarea,
form button {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #555;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}
